name: Sync To Gitee

on: [ push, delete, create ]

jobs:
  gitee:
    runs-on: ubuntu-latest
    steps:
      - name: Sync to Gitee
        uses: wearerequired/git-mirror-action@master
        env:
          # 注意在 Settings->Secrets 配置 GITEE_RSA_PRIVATE_KEY
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_SSH_KEY }}
        with:
          # 注意替换为你的 GitHub 源仓库地址
          source-repo: git@github.com:muaimingjun/LinuxCTS.git
          # 注意替换为你的 Gitee 目标仓库地址
          destination-repo: git@gitee.com:muaimingjun/LinuxCTS.git


  gitcode:
    runs-on: ubuntu-latest
    steps:
      - name: Sync to Gitcode
        uses: wearerequired/git-mirror-action@master
        env:
          # 注意在 Settings->Secrets 配置 GITEE_RSA_PRIVATE_KEY
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_SSH_KEY }}
        with:
          # 注意替换为你的 GitHub 源仓库地址
          source-repo: git@github.com:muaimingjun/LinuxCTS.git
          # 注意替换为你的 Gitee 目标仓库地址
          destination-repo: git@gitcode.com:muaimingjun/LinuxCTS.git
  
  publish-docker:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取源码
        uses: actions/checkout@v3
        with:
            fetch-depth: 1
      - name: 设置 QEMU
        uses: docker/setup-qemu-action@v3

      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 登录到 DockerHub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 构建和推送Docker hub
        uses: docker/build-push-action@v6
        with:
            context: .
            platforms: linux/amd64
            push: true
            tags: |
                  docker.io/itgpt/LinuxCTS:latest
